<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Hacathon</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signin.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">
        <div id="app" class="form-signin">

            <h1 class="h3 mb-3 font-weight-normal">Please Enter the data</h1>

            <label for="inputEmail" class="sr-only">Temperature</label>            
            <label for="inputEmail" class="sr-only">Weight</label>
            <input v-model="weight" type="text" class="form-control mt-2" placeholder="Weight" required autofocus>


            <label for="customRange2">Height = {{height}} [km]</label>
            <input v-model="height" type="range" class="custom-range" min="0" max="20" id="customRange2">
            
            <textarea v-if="left > 0" v-model="customeMessage" class="form-control" placeholder="Enter the message you want when Result is negtive" required></textarea>

            
            <h1>{{Vp}}</h1>
            <p>{{customeMessage}}</p>
            <p class="mt-5 mb-3 text-muted">&copy; {{message}}</p>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                  message: 'Thanos Team *-*',
                  height: 10,
                  weight: null,
                  customeMessage:null,
                  table:[
                    {t:288.150 , p:101325},
                    {t:281.650 , p:89874.6},
                    {t:275.150 , p:79495.2},
                    {t:268.650 , p:70108.5},
                    {t:262.150 , p:61640.2},
                    {t:255.650 , p:54019.9},
                    {t:249.150 , p:47181.0},
                    {t:242.650 , p:41060.7},
                    {t:236.150 , p:35599.8},
                    {t:229.650 , p:30742.5},
                    {t:223.150 , p:26436.3},
                    {t:216.650 , p:22632.1},
                  ]
                },
                computed:{
                    t(){
                        return this.table[this.height].t
                    },
                    p(){
                        return this.table[this.height].p
                    },
                    V(){
                        return .082 * this.t / this.p
                    },
                    Vi(){
                        return .082*this.t/.003
                    },
                    Da(){
                        return 28.84/this.V
                    },
                    Dh(){
                        return 2/this.Vi
                    },
                    left(){
                        return this.Da - this.Dh
                    },
                    Vp(){
                        if(this.left>0){
                            return this.weight/this.left
                        }else{
                            return this.weight/this.left
                        }
                    }
                },
                methods:{
                    
                }
              })
        </script>
</body>

</html>